/* Regole CSS generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* CSS relativo alle righe di prodotti */

.riga-prodotti {
    margin-bottom: 30px;
}

/* CSS relativo ai singoli prodotti e alle sue parti */

.prodotto {
    width: calc(100% / 3);
    float: left;
    padding: 0 10px;
    position: relative;
}

img {
    width: 100%;
    height: fit-content;
}

img.seconda {
    display: none;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 10px;
    width: calc(100% - 20px);
}

.prodotto:hover img.seconda {
    display: block;
}

.marca, .nome-prodotto, .prezzo {
    /* debug */
    height: 30px;
    background-color: red;
    border: solid 1px black;
}

.cuore {
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 3px 6px;
    background-color: white;
    font-size: 20px;
    z-index: 20;
}

.altre-info {
    position: absolute;
    bottom: 120px;
    left: 10px;
    z-index: 20;

    /* debug */
    background-color: yellow;
}

.sconto, .sostenibilita {
    float: left;
    margin-right: 5px;

    /* debug */
    background-color: teal;
}